.recipes-overview-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 630px) and (max-width: 950px) {
    justify-content: space-between;
  }
}