.recipe-row-container {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid darkgrey;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 17px;
  
  span {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: #333333;
  }

  .recipe-row-title {
    width: 50%;
  }

  .recipe-row-public {
    width: 10%;
  }

  .recipe-row-createdat {
    width: 14%;
  }

  .recipe-row-updatedat {
    width: 14%;
  }

  .recipe-row-edit {
    width: 10%;
  }
}