.recipe-row-container {
  width: 100%;
  display: flex;
  min-height: 40px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 17px;
  align-items: center;
  justify-content: center;

  .recipe-row-title {
    width: 47%;
  }

  .recipe-row-public {
    width: 8%;
  }

  .recipe-row-createdat {
    width: 15%;
  }

  .recipe-row-updatedat {
    width: 15%;
  }

  .recipe-row-edit {
    width: 11%;
  }
}