.user-manage-page{
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user-manage-tab {
    @media screen and (min-width:1200px) {
      width: 70%;
    }

    @media screen and (min-width: 0px) and (max-width: 1200px) {
      width: 90%;
    }

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 20%;

    .manage-btn {
      border: none;
      background-color: inherit;
      font-size: 26px;
      font-family: Frank Ruhl Libre;
      color: #333333;
      cursor: pointer;
      display: inline-block;

      &.underscore {
        background: linear-gradient(180deg, rgba(255,255,255,0) 60%, #FBDD8A 60%);
      }
    }
  }

  .user-manage-page-recipe {
    @media screen and (min-width:1200px) {
      width: 70%;
    }

    @media screen and (min-width: 0px) and (max-width: 1200px) {
      width: 90%;
    }

    height: 500px;
    margin-top: 30px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(153, 153, 153, 0.25);
    border-radius: 5px;
  }

  .user-manage-page-profile {
    margin-top: 30px;
    
    @media screen and (min-width:1200px) {
      width: 60%;
    }

    @media screen and (min-width: 0px) and (max-width: 1200px) {
      width: 90%;
    }

  }
  .manage-bg {
    position: absolute;
    width: 82%;
    top: 25%;
    z-index: -1;
  }
}