.stats-container {
  width: 232px;
  margin-top: 20px;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  border: #2A356C 2px solid;
  background: #ffffff;

  h5 {
    margin-top: 13px;
    margin-bottom: 50px;
  }
}
